* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none
}
a{
  text-decoration: none;
  color: white;
}
.Header{
  background-color: rgba(19, 9, 29, 0);
  background: linear-gradient(black,rgba(0, 0, 0, 0));
  color: white;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 8px;
}
.Header > .Title {
  left: 24px;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  cursor: pointer;
  font-size: larger;
}
.Header > .Menu{
  position: absolute;
  display: flex;
  gap: 40px;
  top: 50%;
  transform: translate(0,-50%);
  right: 24px;
}
.Menu > li {
  cursor: pointer;
}
.SlideShow{
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}
.SlideShow > img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  transition: opacity 1s ease-out;
  /* -webkit-transition: opacity 0.5s ease-out;  
  -moz-transition: opacity 0.5s ease-in-out;   */
}
.About{
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 16px;
  background-color: rgb(77, 12, 90);
}
@media only screen and (max-width:472px){
  .Header > .Menu{
    display: none;
  }
}